.filter-bar{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    .meun{
        flex: 1;
       font-size: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .box{
            margin-left: 10px;
            color: #ddd;
            
        }
        .select{
            font-size: 30px;
            color: #fac34c;
        }
    }
    .icon-top:before{content:"\e62d";font-size: 15px;}
    .icon-down:before{content:"\e62e";font-size: 15px;}
}
